<div class="backImage">

  <h1 *ngIf="!locationInput">We are open.</h1>

  <div class="circleCube animated fadeIn" *ngIf="!locationInput">
  <ion-icon name="cloudy-night"></ion-icon>
  </div>

  <div class="bottomSquare animated slideInUp" [ngClass]="{'fullBottomSquare' : locationInput}">
    <ion-icon name="close" class="closeIco" (click)="fullLocationMode()"  *ngIf="locationInput"></ion-icon>
    <h2 class="topTitleWhatText">What is Not Closed?</h2>
    <p class="openStores"><i>Not Closed</i> provides a simple list of all stores near your location that are currently open :)</p>
    <form action=".">
      <input type="text" #searchbar (click)="fullLocationMode()" (change)="getLocation($event)"  name="location" class="searchLoc" placeholder="Your Location">
      <button type="submit" class="searchLocButton" *ngIf="locationInput" (click)="goHome()">Search Location</button>
    </form>

    <!-- <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box" (click)="fullLocationMode()"></ion-searchbar> -->



    <br /><br />
  </div>
</div>
