.backImage{
  width: 100%;
  height: 70%;
  position: absolute;
  display: block;
  background: url(https://images.unsplash.com/photo-1542211183455-2afe6f173cdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80);
  background-size: cover;
  background-position: top right;
}

h1{
  font-size: 36px;
  color: black;
  font-family: playfairDisplay;
  margin: 15%;
  margin-top: 20%;
  width: 50%;
}

.bottomSquare{
  width: 100%;
  height: 400px;
  background: #fff;
  margin-top: 90%;
  display: block;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
