.homeWrapper {
  padding: 15%;
  background: #fefefe;
  height: 100%;
}

h1 {
  font-family: "Playful";
  font-size: 36px;
  color: #625855;
}

.whatsOpen {
  font-family: "Playful";
  font-size: 16px;
  color: #DBD5D2;
  margin-top: -5px;
}

h3 {
  font-family: "Playful";
  font-size: 24px;
  color: #625855;
}

h4 {
  font-family: "Playful";
  font-size: 16px;
  color: #C9A09D;
  text-decoration: underline;
  padding-top: 2%;
  margin-left: 30%;
}

.line {
  display: inline-flex;
  width: 100%;
  white-space: nowrap;
}

.floatiesWrapper {
  display: block;
  margin-top: 5%;
  margin-right: -20%;
}

.floaties {
  height: 120px;
  width: 120px;
  border-radius: 40px;
  display: inline-block;
  margin-right: 10%;
  margin-top: 10%;
  box-shadow: 0px 0px 5px #d1d1d1;
}

.one{
    background-color: #FBF2F0;
}

.two{
    background-color: #FBF9F5;
}

.three{
    background-color: #FDF1E5;
}

.four {
  background-color: #fff1d6;
}

.oneCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #EDD9D3;
  display: block;
  position: absolute;
  margin-left: 23%;
  margin-top: 5%;
  font-size: 32px;
  box-shadow: -1px -1px 5px #d1d1d1;

}

.oneCircle:active {
  transform: translateY(4px);
}

.arrow {
  color: #FFF;
  margin: 17%;
}

.boxText {
  color: #8E8E8E;
  display: block;
  text-align: center;
  padding-top: 35%;
  font-family: "Raleway"
}

.shopOneInfo {
  color: #8E8E8E;
  display: block;
  text-align: center;
  padding-top: 5%;
  font-size: 10px;
  font-family: "Raleway"
}

// .shopTwo {
//   color: #8E8E8E;
//   display: block;
//   text-align: center;
//   padding-top: 40%;
//   font-family: "Raleway"
// }
//
// .shopThree {
//   color: #8E8E8E;
//   display: block;
//   text-align: center;
//   padding-top: 40%;
//   font-family: "Raleway"
// }
//
// .shopFour {
//   color: #8E8E8E;
//   display: block;
//   text-align: center;
//   padding-top: 40%;
//   font-family: "Raleway"
// }

.search {
  color: #DDADAD;
  padding-top: 10%;
  margin-left: 32%;
  font-size: 30px;
}

.searchBox {
  margin-left: -4%;
  margin-top: 3%;
  margin-right: -2%;
  margin-bottom: 29px;
  width: 200%;
}

.searchBack {
  color: #DDADAD;
  padding-top: 10%;
  font-size: 65px;
  margin-top: -20px;
  margin-left: -3%;
}
