<div class="homeWrapper">

  <div class="line" *ngIf="!searchMode">
    <h1> notClosed.</h1>
    <ion-icon name="search" class="search" (click)="searchTrigger()"></ion-icon>
  </div>

  <div class="line" *ngIf="searchMode">
    <ion-searchbar animated placeholder="search stores" class="searchBox animated fadeIn" ></ion-searchbar>
    <ion-icon name="close" class="searchBack" (click)="searchTrigger()"></ion-icon>
  </div>


  <h5 class="whatsOpen" *ngIf="!searchMode"> What's open near me? </h5>

  <div class="line">
    <h3> Open stores </h3>
  </div>

  <div class="floatiesWrapper animated fadeIn">

  <!-- float one  -->
    <div class="floaties one" (click)="showShop('7/11')">
      <label class="boxText"> 7/11 </label>
      <label class="shopOneInfo"> open until 10 </label>
      <div class="oneCircle">
        <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
      </div>
    </div>
<!-- float two  -->
    <div class="floaties two" (click)="showShop('Subway')">
      <label class="boxText"> Subway </label>
      <label class="shopOneInfo"> Ospen until 12 </label>
      <div class="oneCircle">
        <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
      </div>
    </div>

  <!-- float three -->
      <div class="floaties three" (click)="showShop('KFC')">
        <label class="boxText"> KFC </label>
        <label class="shopOneInfo"> open until 9 </label>

        <div class="oneCircle">
          <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
        </div>
      </div>
      <!-- float four -->
          <div class="floaties four" (click)="showShop('McDonalds')">
            <label class="boxText"> McDonalds </label>
            <label class="shopOneInfo"> not closing </label>

            <div class="oneCircle">
              <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
        </div>
    </div>

    <ion-icon name="arrow-dropup" class="scroll" (click)="upClick()"></ion-icon>
    <ion-icon name="arrow-dropdown" class="scroll down "(click)="dowmClick()"></ion-icon>

    <h4 (click)="goToInfo()"> Change Location </h4>


    <div class="shopSelect animated slideInUp" *ngIf="shop">
      <ion-icon name="remove" class="downArrow" (click)="showShop()"></ion-icon>
      <label class="headerShop"> {{shop}} </label>
    </div>
</div>
