<div class="homeWrapper">

  <h1> notClosed.</h1>
  <h5 class="whatsOpen"> What's open near me? </h5>
  <div class="line">
    <h3> Open stores </h3>
      <h4> See More </h4>
  </div>

  <div class="floatiesWrapper">
    <div class="floaties one"> <label class="shopOne"> 7/11 </label></div> <div class="oneCircle">
      <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
    </div>
    <div class="floaties two"></div> <div class="twoCircle">
      <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
    </div>
    <div class="floaties three"></div> <div class="threeCircle"> </div>
  </div>
</div>
